body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    /* changes style of lists(points) */
    display: flex;
    justify-content: center;
    gap: 30px;
    /* space between items */
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}

/* Hero Section */
.hero {
    background-color: rgb(84, 170, 224);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h1 {
    font-size: 5rem;
}

.hero-content p {
    font-size: 2.5rem;
    margin: 20px 0;
}

.cta-button {
    background-color: #232723;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* About Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    color: #e59028;
}

/* Skills Section */

.skills {
    padding: 50px 20px;
    text-align: center;
}

.skills h2 {
    font-size: 2.5rem;
}

.skill-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-item {
    padding: 20px;
    background-color: #c0d4fa;
    border-radius: 10px;
    width: 30%;
}

/* Projects Section */

.projects {
    padding: 50px 20px;
    text-align: center;
    background-color: antiquewhite;
}

/* 
.projects h2 {
    font-size: 2.5rem;
} */

.project-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    padding: 20px;
    background-color: #bffae5;
    border-radius: 10px;
    width: 30%;
}

.projects .project-list .project-item img {
    width: 75%;
}

/* Contact Section */

.contact {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
}


.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;

}

.contact-info {
    width: 45%;
}

.contact-item {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-item a {
    text-decoration: none;
    color: #e59028;
    font-weight: bold;
}

.contact-item a:hover {
    text-decoration: underline;
    color: white;
}

.contact-form {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 1rem;
}

.contact-form button[type="submit"] {
    background-color: rgb(4, 200, 249);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #333;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}